body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
body {  
    background: linear-gradient(to right, #b57fd8, #7221b4, #b57fd8);

}


.timer-container {
    color: white;
    display: flex;
    letter-spacing: 2px;
    
}
.timer-container span {
    position: relative;
    top: 5px;
    font-size: 4rem;
}

.timer-text {
    margin: 0;
    font-size: 5rem;
    
}